<header class="header">
  <div class="header__menu wrapper">
    <a class="header__menu--alogo" href="#">
      <img src="./assets/images/brook-logo.png" alt="Logo Brook" title="Ir a Home">
    </a>
    <nav class="header__menu--nav">
      <a href="#">
        <img src="./assets/images/menu-icon.png" alt="Menu" title="Menú">
      </a>
      <ul>
        <li>home</li>
        <li>pages</li>
        <li>portfolio</li>
        <li>blog</li>
        <li>contact</li>
      </ul>
    </nav>
  </div>
</header>