<main class="main">
    <section class="hero">
        <div class="hero__img">
            <h1 class="hero__img--title">
                <span>this is brook</span>
                <span>a full-service</span>
                <span>creative agency</span>
            </h1>
        </div>
    </section>
    <section class="info">
        <div class="wrapper">
            <h4>what we do</h4>
            <h2>we design & build brand, campaings & digital projects for businesses large & small.</h2>
        </div>
    </section>
    <section class="options">
        <include src="./options.html"
        imgSrc="./assets/images/eye-icon.jpg"
        imgAlt="eye-icon"
        imgTitle="eye-icon">
        </include>
        <include src="./options.html"
        imgSrc="./assets/images/book-icon.jpg"
        imgAlt="book-icon"
        imgTitle="book-icon">
        </include>
        <include src="./options.html"
        imgSrc="./assets/images/boxes-icon.jpg"
        imgAlt="book-icon"
        imgTitle="book-icon">
        </include>
    </section>





















</main>
